import React from 'react';
import './{{stylePath}}';

interface IProps {
	  
}

const {{componentName}} = (props: IProps) => {
    return (
      	<div className="{{className}}">
        	This is component {{componentName}}, please delete this line in your project.
      	</div>
    );
};
export default {{componentName}};